// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.exam-parent
{
  padding:20px ;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 20px;
}

.validation-message
{
  color: red;
}
